# NetBeans specific #
/QueryContainment/nbproject/private/
/QueryContainment/build/
/QueryContainment/nbbuild/
/QueryContainment/dist/
/QueryContainment/nbdist/
/QueryContainment/nbactions.xml
/QueryContainment/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear